.catalog {
  padding-top: 15px;
}

.catalog__title {
  .title();
  position: relative;
  padding-bottom: 30px;
  line-height: 60px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  position: relative;
  min-height: 209px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
}

.catalog__to-product-page {
  .links-reset();
}

.catalog__product-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.catalog__product-info {
  .font-arialregular();
  font-size: 12px;
  line-height: 16px;
}

.catalog__more {
  position: relative;
  padding-top: 79px;
  padding-bottom: 25px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
}

.catalog__more-title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 139px;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
  }
}

.catalog__more-subtitle {
  .font-arialregular();
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__more-button {
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
