.catalog {
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 54px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-top: 73px;
  }
}

.catalog__title {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    margin-bottom: 165px;
    padding: @padding-tablet;
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
  }
}

.catalog__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    width: 1220px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    width: 324px;
    margin-right: 60px;
    margin-bottom: 139px;
    padding: 0;
    padding-bottom: 39px;
    background-color: @gray-background;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;
    padding-bottom: 38px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(7) {
      margin-bottom: 142px;
    }
  }
}

.catalog__item-inner {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .catalog__item-inner {
    flex-direction: column;
  }
}

.catalog__pictures {
  width: 140px;
}

@media (min-width: @tablet-width) {
  .catalog__pictures {
    display: block;
    width: 324px;

    &--small {
      margin-top: -47px;
    }

    &--big {
      margin-top: -82px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__pictures {
    width: 245px;
  }
}

.catalog__image {
  width: 100%;
  vertical-align: bottom;
}

@media (min-width: @tablet-width) {
  .catalog__item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog__to-product-page {
  .links-reset();
}

.catalog__product-name {
  display: block;
  max-width: 75px;
  margin-top: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .catalog__product-name {
    max-width: 130px;
    margin-top: 37px;
    font-size: 20px;
    text-align: center;
  }
}

.catalog__product-info {
  .font-arial();
  border-collapse: collapse;
  width: 140px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .catalog__product-info {
    width: 249px;
    margin-top: 20px;
    margin-bottom: 34px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__product-info {
    width: 169px;
  }
}

.catalog__tr .catalog__td:nth-child(2) {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog__tr {
    height: 31px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__td {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog__order-button {
    align-self: center;
    box-sizing: border-box;
    padding: 10px 0 10px 6px;
    min-width: 249px;
    width: 249px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__order-button {
    min-width: 169px;
    width: 169px;
    padding-left: 2px;
  }
}

.catalog__more-list {
  margin: 0;
  padding: 0;
}

.catalog__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 20px 25px 20px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .catalog__more {
    box-sizing: border-box;
    width: 324px;
    padding: 0;
    padding-top: 166px;
    padding-bottom: 39px;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: @desktop-width) {
  .catalog__more {
    padding-top: 164px;
    width: 245px;
  }
}

.catalog__more-title {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 87px;
    width: 30px;
    height: 2px;
    background-color: #efefef;
  }

  &::after {
    content: "";
    position: absolute;
    top: -53px;
    left: 101px;
    width: 2px;
    height: 30px;
    background-color: #efefef;
  }
}

@media (min-width: @tablet-width) {
  .catalog__more-title {
    max-width: 135px;
    margin-bottom: 28px;
    font-size: 20px;
    text-align: center;

    &::before {
      top: -81px;
      left: 38px;
      width: 60px;
    }

    &::after {
      top: -109px;
      left: 67px;
      height: 60px;
    }
  }
}

.catalog__more-subtitle {
  .font-arial();
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .catalog__more-subtitle {
    max-width: 170px;
    margin-bottom: 87px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog__more-subtitle {
    margin-bottom: 83px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__more-button {
  width: 100%;
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .catalog__more-button {
    box-sizing: border-box;
    padding-top: 10px;
    width: 249px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__more-button {
    min-width: 169px;
    width: 169px;
  }
}
