.catalog-preview__wrapper {
  padding: @padding-mobile;
}

@media (min-width: @tablet-width) {
  .catalog-preview__wrapper {
    padding: @padding-tablet;
  }
}

.catalog-preview__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1220px;
}

@media (min-width: @desktop-width) {
  .catalog-preview__list {
    flex-direction: row;
  }
}

.catalog-preview__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 20px 6px 19px;
  margin-bottom: 20px;
  background-color: @gray-background;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @color-primary;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 22px;
      width: 50px;
      height: 50px;
      background: url("../img/icon-cat-slim.svg") no-repeat left 8px top 0;
      background-size: 35px 49px;
    }
  }

  &--pro {
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 13px;
      width: 67px;
      height: 50px;
      background: url("../img/icon-cat-pro.svg") no-repeat center;
      background-size: 67px 28px;
    }
  }
}

@media (min-width: @tablet-width) {
  .catalog-preview__item {
    align-self: center;
    margin-bottom: 30px;
    padding: 76px 280px 47px 52px;

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        top: 52px;
        left: 421px;
        width: 250px;
        height: 250px;
        background-size: 140px 194px;
        background-position: center;
      }
    }

    &--pro {
      &::after {
        top: 67px;
        left: 409px;
        width: 270px;
        height: 250px;
        background-size: 268px 112px;
        background-position: center;
      }
    }
  }

  .catalog-preview__item:last-child {
    padding-right: 315px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-preview__item {
    flex-basis: 570px - 52px;
    min-height: 372px - 77px;
    margin-bottom: 0;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 0;
    padding-bottom: 0;

    &:nth-child(1) {
      margin-right: 80px;
    }

    &::before {
      top: 48px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: 15px;
        left: 26px;
        width: 150px;
        height: 150px;
        background-size: 70px 97px;
        background-position: center;
      }
    }

    &--pro {
      &::after {
        top: 23px;
        left: 26px;
        width: 150px;
        height: 150px;
        background-size: 134px 56px;
        background-position: center;
      }
    }
  }

  .catalog-preview__item:last-child {
    padding-right: 0;
  }
}

.catalog-preview__item:last-child {
  margin-bottom: 0;
}

.catalog-preview__title {
  margin: 0;
  margin-left: 72px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .catalog-preview__title {
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 36px;
    line-height: 37px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-preview__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.catalog-preview__description {
  .font-arial();
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .catalog-preview__description {
    max-width: 375px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .catalog-preview__item:last-child .catalog-preview__description {
    max-width: 340px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-preview__description {
    min-height: 0;
    max-width: 465px;
    margin: 0;
    margin-bottom: 10px;
  }

  .catalog-preview__item:last-child .catalog-preview__description {
    max-width: 445px;
  }
}

.catalog-preview__link {
  .links-reset();
  position: relative;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 96px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat 0 0;
    background-size: 24px 11px;
    border: 1px solid red;
  }

  &:hover::after {
    width: 33px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog-preview__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 129px;
    }
  }

  .catalog-preview__item:last-child .catalog-preview__link {
    &::after {
      left: 123px;
    }
  }
}
