.catalog {
  padding-top: 15px;
}

.catalog__title {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  border-bottom: 1px solid #ededed;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

.catalog__item-inner {
  display: flex;
}

.catalog__image {
  vertical-align: bottom;
}

.catalog__item-info {
  margin-right: auto;
}

.catalog__to-product-page {
  .links-reset();
}

.catalog__product-name {
  display: block;
  max-width: 75px;
  margin-top: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.catalog__product-info {
  .font-arial();
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__tr .catalog__td:nth-child(2) {
  padding-left: 55px;
  text-align: right;
}

.catalog__td {
  padding: 0;
  width: 40px;
}

.catalog__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 79px 20px 25px 20px;
  border-bottom: 1px solid #ededed;
}

.catalog__more-title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 145px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 159px;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
  }
}

.catalog__more-subtitle {
  .font-arial();
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__more-button {
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
