.copyright {
  display: block;
  height: 84px;
  text-decoration: none;
  color: #444444;
  fill: #666666;

  &:hover {
    fill: @color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  .font-arialregular();
  font-size: 16px;
  line-height: 16px;
}
