.example {
  padding-top: 17px;
  padding-bottom: 35px;
  background-color: @gray-background;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__description {
  .font-arial();
  max-width: 270px;
  margin: 0;
  margin-bottom: 25px;
  outline: 1px dotted red;
}

.example__flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 34px;
}

.example__list {
  .list-reset();
  position: relative;
  width: 122px;
  min-height: 54px - 14px;
  padding-top: 14px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__parameter {
  .font-arial;
  position: absolute;
  top: 46px;
  left: 16px;
  width: 87px;
  min-height: 25px;
  font-size: 12px;
  line-height: 12px;
  background-color: @gray-background;
}

.example__results {
  align-self: center;
  display: block;
  margin-bottom: 34px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__cat-before,
.example__cat-after {
  margin-bottom: 33px;
  vertical-align: bottom;
}

.example__cat-before {
  align-self: center;
}

.example__cat-after {
  display: none;
}

.example__toggle {
  display: flex;
  align-self: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 55px;
    z-index: 10;
    width: 82px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }
}

.example__label {
  z-index: 1000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &--before {
    position: relative;
    padding-right: 56px;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 7px;
      left: 61px;
      z-index: 100;
      width: 35px;
      height: 6px;
      background-color: @color-primary;
      border-radius: 5px;
    }
  }

  &--after {
    position: relative;
    padding-left: 60px;

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 7px;
      right: 65px;
      z-index: 100;
      width: 35px;
      height: 6px;
      background-color: @color-primary;
      border-radius: 5px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.example__input {
  display: none;
}

.example__input--before:checked ~ .example__label--before::after {
  display: block;
}

.example__input--after:checked ~ .example__label--after::before {
  display: block;
}
