.example {
  padding-top: 17px;
  padding-bottom: 35px;
  background-color: @gray-background;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 50px;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 619px, rgba(242, 242, 242, 0) 619px),
      linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(234, 234, 234, 1) 50%);
  }
}

@media (min-width: @desktop-width) {
  .example {
    overflow: hidden;
    margin-top: -46px;
    padding-top: 46px;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 173px, rgba(242, 242, 242, 0) 173px);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: @padding-mobile;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    flex-direction: row;
    position: relative;
    width: 1220px;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 127px, rgba(242, 242, 242, 0) 127px),
      linear-gradient(to right, rgba(255, 255, 255, 0) 934px, rgba(234, 234, 234, 1) 934px);
  }
}

@media (min-width: @desktop-width) {
  .example__info {
    margin-right: 217px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

@media (min-width: @tablet-width) {
  .example__title {
    margin-top: -8px;
    margin-bottom: 65px;
    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    margin-bottom: 147px;
  }
}

.example__description {
  .font-arial();
  max-width: 270px;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .example__description {
    max-width: 700px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example__description {
    max-width: 433px;
    margin-bottom: 68px;
  }
}

.example__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  max-width: 280px;
  margin-bottom: 34px;
}


@media (min-width: @tablet-width) {
  .example__stats {
    align-items: flex-start;
    max-width: 708px;
    margin-bottom: 120px;
  }
}

@media (min-width: @desktop-width) {
  .example__stats {
    max-width: 366px;
    // min-height: 152px;
    margin-bottom: 0;
  }
}

.example__list {
  .list-reset();
  position: relative;
  width: 122px;
  height: 40px;
  padding-top: 14px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

@media (min-width: @tablet-width) {
  .example__list {
    width: 160px;
    min-height: 70px - 14px;

    &:nth-child(2) {
      margin-right: 78px;
    }
  }
}

@media (min-width: @desktop-width) {
  .example__list {
    margin-bottom: 52px;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter {
  .font-arial;
  position: absolute;
  top: 46px;
  left: 19px;
  width: 82px;
  font-size: 12px;
  line-height: 12px;
  background-color: @gray-background;
}

@media (min-width: @tablet-width) {
  .example__parameter {
    top: 62px;
    left: 23px;
    width: 114px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__list:nth-child(2) .example__parameter {
    left: 9px;
    width: 142px;
  }
}

@media (min-width: @desktop-width) {
  .example__parameter {
    background-color: @gray-background;
  }
}

.example__results {
  margin-top: 36px;
  margin-left: 47px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__results {
    margin-top: 6px;
    max-width: 175px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example__results {
    max-width: 330px;
    margin-left: 0;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .example__results-sum {
    margin-left: 60px;
  }
}
