.main-nav__toggle {
  background: none;
  border: none;

  &--close {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000;
      width: 24px;
      height: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
