.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 21px;
    padding: @padding-tablet;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    outline: 1px dotted black;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px 20px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .main-nav__container {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__container {
    margin-right: 540px;
    padding: 0;
  }
}

.main-nav__toggle {
  background: none;
  border: none;

  &--open {
    position: relative;
    display: none;
    width: 24px;
    height: 18px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 18px;
      background: url("../img/icon-mobile-menu.svg") no-repeat;
    }
  }

  &--close {
    position: relative;
    display: block;
    width: 24px;
    height: 18px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      background-color: #000000;
      width: 24px;
      height: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
