.page-main {
  position: relative;
}

.page-main__wrapper {
  margin-bottom: 135px;
  padding-top: 28px;
  height: 305px - 28px;
  color: #ffffff;
  background: @color-primary url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.page-main__title {
  .title();
  margin-bottom: 25px;
  line-height: 36px;
  font-weight: normal;
}

.page-main__slogan {
  font-size: @text-size;
  line-height: 14px;
  text-transform: uppercase;
}

.page-main__image-can {
  position: absolute;
  top: 167px;
  left: 20px;
}

.page-main__catalog-preview {
  margin-top: 22px;
  margin-bottom: 16px;
}
