.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  min-height: 305px - 28px;
  color: #ffffff;
  background: @color-primary url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.page-header__title {
  .title();
  margin-bottom: 11px;
  text-align: center;
  line-height: 36px;
  font-weight: normal;
}

.page-header__slogan {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.page-header__image-can {
  margin: -138px auto 3px auto;
}

.page-header__to-form {
  align-self: center;
}
