.page-main__wrapper {
  color: #ffffff;
  background: @color-primary url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.page-main__title {
  .title();
  line-height: 36px;
}

.page-main__slogan {
  font-size: @text-size;
  line-height: 14px;
  text-transform: uppercase;
}
