.page-main__catalog-preview {
  margin-top: 22px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .page-main__catalog-preview {
    margin-top: 0;
    margin-bottom: 44px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__catalog-preview {
    margin-top: 80px;
    margin-bottom: 74px;
  }
}
