.social {
  .list-reset();
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

.social__button {
  margin-right: 37px;
  outline: 1px dotted red;
}

.social__button:last-child {
  margin-right: 0;
}

.social__svg {
  stroke: #696969;

  &:hover {
    stroke: @color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
