.social {
  .list-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .social {
    padding-top: 14px;
    border-bottom: none;
  }
}

.social__link {
  display: block;
}

.social__link:hover .social__svg {
  fill: @color-primary;
}

.social__link:active .social__svg {
  opacity: 0.3;
}

.social__svg {
  fill: #666666;
}

.social__button {
  margin-right: 37px;
}

@media (min-width: @tablet-width) {
  .social__button {
    margin-right: 28px;
  }
}

.social__button--vk {
  margin-left: -11px;
}

.social__button:last-child {
  margin-right: 0;
}

@media (min-width: @tablet-width) {
  .social__button--vk .social__svg {
    width: 30px;
    height: 16px;
  }

  .social__button--inst .social__svg {
    width: 23px;
    height: 23px;
  }

  .social__button--fb .social__svg {
    width: 14px;
    height: 28px;
  }
}
