.social {
  .list-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .social {
    border-bottom: none;
  }
}

.social__button {
  margin-right: 37px;
}

@media (min-width: @tablet-width) {
  .social__button {
    margin-right: 28px;
  }
}

.social__button:last-child {
  margin-right: 0;
}

.social__svg {
  stroke: #696969;

  &:hover {
    stroke: @color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__button--vk .social__svg {
    width: 30px;
    height: 16px;
  }

  .social__button--inst .social__svg {
    width: 23px;
    height: 23px;
  }

  .social__button--fb .social__svg {
    width: 14px;
    height: 28px;
  }
}
